Label{
    color: rgba(0, 0, 0, 1);
}

NoodlesNodeDialogueVisual #title
{
	background-color: rgba(50, 50, 50, 0.9);
}

.startNode #title {
	background-color: rgba(0, 80, 0, 0.9);
	height: 30px;
}

.endNode #title {
	background-color: rgba(80, 0, 0, 0.9);
	height: 30px;
}

.endNode:selected > #selection-border {
	border-color: #FF1111; /* Orange/yellow */
}
