GridBackground {
    /*--grid-background-color: #282828;*/
    /*--line-color: rgba(193, 196, 192, 0.1);*/
    /*--thick-line-color: rgba(193, 196, 192, 0.1);*/
    /*--spacing: 100;*/
}

Label{
    color: rgba(0, 0, 0, 1);
}
